// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$green: #00896A;
$light-purple: #B27C7E;
$bright-pink: #EA504E;
$pale-pink: #FDF5F6;
$background-grey: #f1eee9;

