// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #ea5033;
$light-orange: #f8d2c1;
$gray: #0E0000;
$light-gray: #F4F4F4;
$green: #00896A;
$light-purple: #B27C7E;
$bright-pink: #EA504E;
$pale-pink: #FDF5F6;
$background-grey: #f1eee9;
$font-grey: #565454;
$dark-gray: #343a40;
$btn-pink: #f2b0b2;

