.time-font {
  color: gray;
}

.event-title-show h1 {
  font-weight: bold;
  font-size: 50px;
  text-align: left;
}

.text-decoration-none a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: darkgrey;
  }
}

.text-orange {
  color: $light-orange;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-top {
    color: $bright-pink;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
}

.profile-description {
  margin: 20px 0 0 15px;
  text-align: center;
}

