.reservation-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: calc(90% - 4em);
  column-gap: 8px;
}

.staff-detail-overview {
  position: sticky;
  top: auto;
  height: 8em;
  max-height: 8em;
}

.grid-element {
  background-color: white;
  border: 1px solid lightgrey;
  min-height: 72vh;
  max-height: 72vh;
  border-radius: 8px;
  padding: 1em;
}