<%= link_to reservations_path do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<h1>Amenities:</h1>
<% @amenities.each do |amenity| %>
  <p><%= image_tag "icons/#{amenity.name}.svg" %><%= amenity.name %></p>
<% end %>