<%= link_to reservations_path do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<div class="container">
  <h1>Amenities:</h1>
  <% @amenities.each do |amenity| %>
    <p><%= image_tag("icons/#{amenity.name.gsub(' ', '_').gsub('/', ':').downcase}.svg", style: "width: 20px; height: 20px;") %><%= amenity.name.capitalize %></p>
  <% end %>
</div>
