<h3>Buddy</h3>

<h2>More Delicious Together</h2>
<p>You can participate / orgainize dining out or cooking sessions with other guests staying at Section L. Like-minded buddies can make your trip more fun. What are you waiting for?</p>
<button class="btn btn-warning">Check out our community app</button>
