
<%= link_to reservation_path(reservation) do %>
  <div class="card-reservation">
    <% room_type = (reservation.room_number % 10).to_s %>
    <%= image_tag("room_#{room_type + (reservation.room_number == 101 ? 'a' : '')}.jpg")  %>
    <div class="card-reservation-content">
      <h5><%= reservation.hotel.name %></h5>
      <p><%= "#{reservation.check_in_date.strftime('%b %e')} - #{reservation.check_out_date.strftime('%b %e, %Y')}" %></p> 
    </div>
  </div>  
<% end %>
