<h1>What Brings You to Tokyo?</h1>

<div class="card-question">

  <button type="button" class="card-element-1">
<div class="card-element-2"><div class="card-element-3">
  <p><%= image_tag "icons/bag.svg" %></p>BUSINESS

  <button type="button" class="card-element-1">
<div class="card-element-2"><div class="card-element-3">
  <p><%= image_tag "icons/surfboard.svg" %></p>LEISURE

  <button type="button" class="card-element-1">
<div class="card-element-2"><div class="card-element-3">
  <p><%= image_tag "icons/l-location.svg" %></p>BOTH

  <button type="button" class="card-element-1">
<div class="card-element-2"><div class="card-element-3">
  <p><%= image_tag "icons/glasses-2.svg" %></p>ELSE

   </div>

  <button class="btn btn-primary">Next</button>
    <button class="btn btn-secondary">Skip</button>
