<%= link_to root_path do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<h1>hello, i'm the index page</h1>

<ol>
  <% @reservations.each do |reservation| %>
    <li><%= link_to "#{reservation.user.first_name}'s booking:", reservation_path(reservation) %></li>
  <% end %>
</ol>
