<%= link_to root_path do %>
  <i class="fas fa-arrow-left" style="position: absolute; top: 10px; left: 10px;"></i>
<% end %>

  <h2 style="text-align: center; margin-top: 40px;">Your Stays</h2>
  <div class="container-reservation">
    <h5>Upcoming:</h5>
    <% @upcoming_reservations.each do |reservation| %>
      <%= render 'reservations/reservation_card', reservation: reservation %>
    <% end %>
    <% if @past_reservations.length > 0 %>
      <h5>Where you've stayed:</h5>
      <% @past_reservations.each do |reservation| %>
        <%= render 'reservations/reservation_card', reservation: reservation %>
      <% end %>
    <% end %>
  </div>

<button class="btn btn-success"><%= link_to 'Add your Reservation info', new_reservation_path %></button>
