<div class="container-fluid py-3">
  <h1>Say Hello</h1>
  <% @reservations_with_event.each do |reservation, latest_event| %>
    <%= link_to staff_reservation_path(reservation) do %>
      <div class="card w-100 p-3 mb-2 d-flex">
        <h3><%= "#{reservation.user.first_name.capitalize} #{reservation.user.last_name.capitalize}" %></h3>
        <p><%= reservation.check_in_date.strftime("%b #{reservation.check_in_date.day.ordinalize}") %></p>
      </div>
    <% end %>
  <% end %>
</div>

