<%# When loading the page, the reservation's changes are now "seen", which changes the index display. %>
<% @reservation.update(seen: true) unless @reservation.seen? %>

<%= render 'shared/back', path: "staff_reservations_path" %>

<div class="container-fluid">
  <%= render 'detail_overview', reservation: @reservation, class: 'staff-detail-overview' %>

  <div class="reservation-grid-container">
    <div class="grid-element" style="overflow: scroll;">
      <%= render 'requests', reservation: @reservation, all_requests: @all_requests %>
    </div>
    <div class="grid-element h-100">
      <%= render 'shared/chat', reservation: @reservation, message: @message %>
    </div>
  </div>
 </div>
