.button-full-width {
  width: 100%;
}

.button-half-width {
  width: 50%;
}

.reservation-buttons {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  bottom: 0;
  background-color: white;
}

.double-button {
  flex-basis: 49%;
  color: white !important;
}


.nav-pills .nav-link {
  color: white;
  background-color: $orange;
  border: 1px solid $orange;
}

.nav-pills .nav-link.active {
  color: $orange;
  background-color: white;
  border: 1px solid $orange;
}

.back-button {
  color: black;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3)
}

