.container-reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  h5 {
    color: $font-grey;
    align-self: flex-start;
  }
}


.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}

.container-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}

.container-title {
  display: flex;
  margin: 10px 5px 10px 30px;
  align-self: center;
}

.container-arrows {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}
