.container-reservation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  a {
    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }
  h5 {
    color: $font-gray;
    align-self: flex-start;
  }
}


.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}

.container-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}

.container-title {
  display: flex;
  margin: 10px 5px 10px 30px;
  align-self: center;
}

.container-arrows {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.container-flex-amenities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

//friends of l
.container-cards-events {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.container-light-pink {
  background-color: $lightest-pink;
}

.container-white {
  background-color: white;
}
