.container-reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  h5 {
    color: $green;
    align-self: flex-start;
  }
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}
