.font-green {
  color: $green
}

.font-grey {
  color: $font-gray
}

.font-bright-pink {
  color: $bright-pink
}

p.thick {
  font-weight: bold;
}

.font-cadetblue {
  color: cadetblue;
}

.font-light-purple {
  color: $light-purple;
}

.font-purple {
  color: $purple;
}
