.box .row.header {
  flex: 0 1 auto;
  display: flex;
  max-height: 10vh;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.box .row.header img {
  width: 2.2em;
  object-fit: cover;

  filter: invert(0);
  transition: filter 0.3s;
  &:hover {
    filter: invert(0.1);
    transition: filter 0.3s;
  }
}
