.box .row.header {
  flex: 0 1 auto;
  min-height: 6vh;
  justify-content: flex-end;
  align-items: flex-end;
}

.box .row.header img {
  margin-top: 2.5vw;
  margin-right: 3.5vw;
  width: 32px;
  object-fit: cover;
}
