.box .row.header {
  flex: 0 1 auto;
  display: flex;
  min-height: 14vh;
  justify-content: center;
  align-items: center;
}

.box .row.header img {
  width: 6vh;
  object-fit: cover;

  filter: invert(0);
  transition: filter 0.3s;
  &:hover {
    filter: invert(0.1);
    transition: filter 0.3s;
  }
}
