.amenity-category-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 75%;
  padding: 8px 0 0 0;
  margin: 0 auto;
  p {
    text-align: center;
    line-height: 1.2em;
    margin-bottom: 8px;
  }
}

.amenity-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  max-height: 15%;
  min-height: 10%;
  flex: 1 0 10%;
  img {
    width: 5vh;
    height: 5vh;
    margin-right: 3vh;
    margin-left: 4vh;
  }
  p {
    font-size: 1.1em;
  }
}

.invisible {
  visibility: hidden;
}

.swiper-amenity-button {
  position: relative;
  border: none;
  background-color: white;
  color: black;
  margin-bottom: 8px;
  margin-right: 0px;

  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 100%;
  div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: auto;
    width: 2em;
    height: 2em;
    background-color: white;
    border: 1px solid black;
  }
}

.swiper-amenity-button .hotel-amenity-icon {
  filter: invert(0.3);
  margin-left: 6px;
  margin-right: 12px;
}

.hotel-amenity-status-icon {
  position: absolute;
  bottom: -2em;
  font-size: .5em;
}